<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>ar-launcher</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">ar-launcher</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content> -->


<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>AR Launcher</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon name="close" slot="icon-only"></ion-icon>
      </ion-button>
      
    <!--
    <ion-fab-button color="primary"> Floating action button
      <ion-icon name="square"></ion-icon> 
    </ion-fab-button> -->
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <iframe src="./assets/aframe-ar.html"></iframe>
</ion-content>