<!-- -->
<ion-tabs style="width:100%; background-color:transparent !important">

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="ar1">
      <ion-icon name="triangle"></ion-icon>
      <ion-label>ar 1</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="ar2">
      <ion-icon name="ellipse"></ion-icon>
      <ion-label>ar 2</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="ar3">
      <ion-icon name="square"></ion-icon>
      <ion-label>ar 3</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="location-based-ar"> 
      <ion-icon name="triangle"></ion-icon>
      <ion-label>location-based-ar</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs> 
<div>
  Test AR page accueil
</div>